body,html{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
/* Styling related to navBar elements*/
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0px;
    transition: all 0.5s ease 0s;
    align-items: center
}
.navBar:hover{
    background: white;
    transition: all 0.5s ease 0s;
}
nav{
    width: 100%;
}
/* Code for hamburger bar from https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/ */
#page-nav label, #hamburger{
    color: black;
    display: none;
}
h1{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 70px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.navBar:hover h1 { 
    color: black;
    transition: all 0.5s ease 0s;
}
.link{
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.5s ease 0s;
    font-size: 19px;
}
.navBar:hover .link {
    color:black;
}
.link:hover{
    font-size: 40px;
    transition: all 0.5s ease 0s;
}
input[type="search"]{
    transition: width 0.5s ease-in-out;
    margin-top: 20px;
    margin-bottom: 22px;
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: black;
    height: 20px;
    background: transparent;
    opacity: 85%;
    width: 70%;
}
.navBar:hover input[type="search"]{
    color: black;
    border-bottom: 2px solid black;
    transition: all 0.5s ease 0s;
}
input[type="search"]:hover{
    width: 75%;
    transition: all 0.5s ease 0s;
}
input[type="search"]::placeholder{
    text-transform: lowercase;
    color: white;
    font-size: 19px;
    transition: all 0.5s ease 0s;
}
.navBar:hover input[type="search"]::placeholder{
    color: black;
    transition: all 0.5s ease 0s;
}
#search-button{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 43px;
    padding: 6px;
    border-radius: 40%;
    text-align: center;
    transition: all 0.5s ease 0s;
}
.navBar:hover #search-button{
    background-color: black;
    color: white;
    transition: all 0.5s ease 0s;
}
#search-button:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.07);
}
/* Styling related to hero-image elements*/
.img-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    position: relative;
    align-items: center;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
}
#who-we-are{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");   
    height: 900px;
}
#andes{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1526392060635-9d6019884377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: 1400px;
}
#fund{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    height: 1400px;
}
.title-sum{
    /*Code to center text from https://www.w3.org/Style/Examples/007/center.en.html*/
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.showcase-titles{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 30px;
}
.img-button{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 100px;
    border-radius: 40%;
    margin-top: 30px;
    text-align: center;
    padding: 18px;
    transition: all 0.5s ease 0s;
}
.img-button:hover{
    text-align: center;
    transition: all 0.5s ease 0s;
    transform: scale(1.06);
}
/* Styling related to topics/stories elements*/
.boxes{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    color: black;
    /*Code to create horizontal scrolling box from https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6*/
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 35px;
}
.box-titles{
    color: black;
    margin: 50px;
    font-size: 40px;
    font-weight: bold;
}
.box-img{
    height: 500px;
    width: 350px;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
}
.story-box {
    display: inline-block;
    font-family: 'Amiri', serif;
    font-size: 18px;
    position: relative;
    font-weight: bold;
}
.story-title{
    font-size: 26px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.author{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}
.story-summary{
    width: 8em;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 350px;
    height: 29%;
    transition: all 0.5s ease;
    background-color: #F5F5F5;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
}
.story-box:hover .overlay{
    height: 70%;
}
.story-button{
    background-color: white;
    color: black;
    width: 30%;
    padding: 3%;
    border-radius: 40%;
    border: none;
    height: 10%;
    transition: all 0.5s ease 0s;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    top: 90%;
    left: 80%;
    margin-right: -50%;
    margin-left: 10px;
    transform: translate(-70%, -50%);
    position: absolute;
    font-weight: bold;
    display: block;
}
.story-box:hover .story-button{
    color: white;
    background-color: black;
    transition: all 0.5s ease 0s;
}
.topic-box {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease 0s;
}
.topic-box:hover{
    transform: scale(1.06);
    transition: all 0.5s ease 0s;
}
.topic-title{
    font-size: 30px;
    text-shadow: -3px 2px 2px rgba(10,4,3,0.18);
    top: 70%;
    left: 35%;
    margin-right: -50%;
    margin-left: 10px;
    transform: translate(-70%, -50%);
    position: absolute;
    color: white;
    font-weight: bold;
}
.topic-button{
    top: 85%;
    left: 70%;
    margin-right: -50%;
    margin-left: 10px;
    transform: translate(-70%, -50%);
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid white;
    color: white;
    background-color: black;
    display:block;
    width: 25%;
    border-radius: 40%;
    height: 10%;
    transition: all 0.5s ease 0s;
}
.topic-button:hover {
    background-color:white;
    color: black;
    border: none;
    font-weight: 700 !important;
    text-align: center;
    width: 27%;
    transition: all 0.5s ease 0s;
}
/* Styling related to footer elements*/
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
    padding: 10px;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
    text-align: center;
    line-height: 30px;
}
#subscribe{
    flex-direction: column;
}
#email{
    margin-top: 25px;
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: white;
    width: 45%;
    transition: all 0.5s ease 0s;
}
#email::placeholder{
    color: white;
}
#email:hover{
    width: 49%;
    transition: all 0.5s ease 0s;
}
#sign-up-button{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 120px;
    border-radius: 40%;
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease 0s;
}
#sign-up-button:hover{
    transform: scale(1.06);
    transition: all 0.5s ease 0s;
}
#donate{
    flex-direction: column;
}
#more-info{
    flex-direction: column;
}
.f-link{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease 0s;
}
.f-link:hover{
    transition: all 0.5s ease 0s;
    font-size: 19px;
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer-titles{
    font-size: 40px;
    margin: 20px;
    text-align: center;
    margin-bottom: 30px;
}
/* Styling related to media elements*/
@media only screen and (max-width: 640px) {
    /* code for hamburger by adapted (not copied from) both https://css-tricks.com/the-checkbox-hack/ and https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/*/
    input[type="search"]{
        display: none;
    }
    #search-button{
        display: none;
    }
    .navBar{
        background-color: white;
        color: black;
        flex-direction: column;
        transition: all 0.5s ease 0s;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 9%;
    }
    #page-nav label, #hamburger{
        display: flex;
    }
    #hamburger{
        top: 20px;
        left: 100px;
        color: black;
    }
    #hamburger:checked ~ .navBar{
        height: 40%;
        transition: all 0.5s ease 0s;
        z-index: 9;
    }
    #company-title{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #who-we-are{
        height: 1200px;
    }
    .footer1{
        flex-direction: column;
        justify-content: center;
    }
}
